
body.contents {
	background : #FFFFFF;
	margin-left: 8px;
}

a:link,a:visited,a:active {
    color:rgb(16,117,189);
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.bodytext,.bodytextleft,.bodytextright,bodytextcenter,.bodytextspace,
.indent,.indent2,.indent3,
.tablebodytext,.tablebodytextleft,.tablebodytextright,.tablebodytextcenter,.tablebodytexttab,
.tableheading,
.tablebodysmall,.tablebodysmallcenter,.tablebodysmallintent,.tablebodysmallright,
li.list,li.list2,li.list3,li.listbullet,li.listbullet2,li.listbullet3,
li.listnumber,li.listnumber2,.listcontinue,.listcontinue2,li.tablelistbullet,
.graphic,.biggraphic,biggraphicright,
.figcaption,listspecial,note,.definition,marginnote,marginright,
.expandinginlinetemplate,.expandinginline,.expandingblocktemplate,.expandingblock,
.relatedheading,.relateditem,.relateddocuments,
.rssdescription,code

{font-family: arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 12px;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height:20px;
        margin-top: 2.5pt;
        margin-bottom: 2.5pt;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        float: none;
        clear: none;
        text-align: justify;
        text-indent: 0px;
        width: auto;
        height: auto;
        white-space: normal;
       }
.bodytextleft 
{       text-align: left;
        }
.bodytextright
{       text-align: right;
        }
.bodytextcenter
{       text-align: center;
        }
.bodytextspace 
{       padding-top: 10px;
        padding-bottom: 10px;
        }
.indent 
{	margin-left: 26px;
       }
.indent2 
{	margin-left: 60px;
       }
.indent3 
{	margin-left: 80px;
       }
.tablebodytext,.tablebodytextleft,.tablebodytextright,.tablebodytextcenter,.tablebodytexttab,
.tableheading,
.tablebodysmall,.tablebodysmallcenter,.tablebodysmallintent,.tablebodysmallright
{	padding-left:2px;
	padding-right:2px
	}
.tablebodysmall,.tablesmalltext,.tablebodysmallcenter,.tablebodysmallintent,.tablesmalltextintent,.tablebodysmallright
{
	font-size:10px;
	}

.tablebodytextleft,.tablebodytext,.tablebodysmall,.tablesmalltext,.tablesmalltextintent,.tablebodysmallintent
{       text-align: left;
        }
.tablebodytextright,.tablesmalltextright,.tablebodysmallrigh
{       text-align: right;
        }
.tablebodytextcenter,.tablesmalltextcenter,.tablebodysmallcenter
{       text-align: center;
        }

.tablesmalltextintent,.tablebodysmallintent
{ 
	margin-left:20px;
        }

.bodytextblue
{	display: inline;
        font-family: inherit;
        font-weight: inherit;
        font-style: inherit;
	color:#1075bd;
        background-color: inherit;
	}
.bodytextred
{	display: inline;
        font-family: inherit;
        font-weight: inherit;
        font-style: inherit;
	color:red;
        background-color: inherit;
	}
.emphasis 
{	display: inline;
        font-family: inherit;
        font-weight: inherit;
        font-style: italic;
        color: inherit;
        background-color: #CCD8E3;
       }
.specialbold 
{	display: inline;
        font-family: inherit;
        font-weight: bold;
        font-style: inherit;
        color: #000000;
        background-color: inherit;
       }
.specialboldblue 
{	display: inline;
        font-family: inherit;
        font-weight: bold;
        font-style: inherit;
        color: #1075bd;
        background-color: inherit;
       }
.specialboldred 
{	display: inline;
        font-family: inherit;
        font-weight: bold;
        font-style: inherit;
        color: red;
        background-color: inherit;
       }
.superscript
{	display: inline;
        font-family: inherit;
        font-weight: inherit;
        font-style: inherit;
	font-size:10px;
	vertical-align: Super; 
	}

.buttons 
{	display: inline;
        font-family: inherit;
        font-weight: bold;
        color: #000000;
        background-color: #EAEAEA;
        vertical-align: baseline;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 3px;
        padding-right: 3px;
	border-style: outset;
       }



.tableheading 
{       font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        border-color: #FFFFFF;
        border-right-style: inherit;
        border-right-width: inherit;
        border-right-color: inherit;
        text-align: left;
       }

.graphic 
{       margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
       }
.biggraphic 
{       margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
       }
.biggraphicright 
{       margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: right;
       }

.expandinginlinetemplate,.expandinginlinetemplate:visited,.expandinginlinetemplate:active,.expandinginlinetemplate:hover
{
	display: inline;
	font-style: italic; 
	color: #1075bd;
}

.expandinginline
{	display: inline;
        color: #ff59ac;
       }
.expandingblocktemplate,.expandingblocktemplate:visited,.expandingblocktemplate:active
{
	display: inline;
	font-style: italic; 
	color: #1075bd;
	text-decoration:underline;
}
.expandingblocktemplate:hover
{
	display: inline;
	font-style: italic; 
	color: #1075bd;
	text-decoration:none;
}
.expandingblock 
{       margin-top:15px;
	margin-bottom:10px;
	margin-left:10px;
	padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #0099cc;
        text-align: left;
        width: 90%;
       }
.popuponclick,.popuponhover,.popuponhoverwindow  {
	z-Index:10;
	padding:10px;
	position:absolute;
	width:400px;
	border-top:1px solid #6a85a0;
	border-bottom:1px solid #6a85a0;
	border-left:1px solid #6a85a0;
	border-right:1px solid #6a85a0;
	margin-top:10px;
        background-image: url(gradient.aspx?direction=V&length=800&startcolor=AECBED&endcolor=F2F7FA&format=jpeg);
        background-repeat: repeat-y;
	}
.popuponhoverborder {
	filter:progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#404040,strength=30);	
	}
.largepopuptemplate
{	cursor:pointer;
}

ul.list 
{list-style-type: square;
        list-style-position: outside;
	list-style-type:none;
        margin-top: 0px;
        margin-bottom: 0px;
	margin-left:26px;
        }
li.list
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: -15px;
       }
ul.list2 
{	list-style-type: Square;
        list-style-position: outside;
	list-style-type:none;
        margin-top: 3px;
        margin-bottom: 0px;
	margin-left:60px;
        }
li.list2 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: -15px;
       }
ul.list3 
{	list-style-type: Square;
        list-style-position: outside;
	list-style-type:none;
        margin-top: 3px;
        margin-bottom: 0px;
	margin-left:80px;
        }
li.list3 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: -15px;
       }

.listspecial 
{	list-style-type: Square;
        list-style-image: url(images/arrow2_blue.gif);
        list-style-position: outside;
        margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 12px;
        margin-right: 0px;
        text-align: left;
        }

ul.listbullet 
{list-style-type: square;
        list-style-position: outside;
        margin-top: 0px;
        margin-bottom: 0px;
	margin-left:26px;
        }
li.listbullet 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
       }
ul.listbullet2 
{	list-style-type: Square;
        list-style-position: outside;
        margin-top: 3px;
        margin-bottom: 0px;
	margin-left:60px;
        }
li.listbullet2 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
       }
ul.listbullet3 
{	list-style-type: Square;
        list-style-position: outside;
        margin-top: 3px;
        margin-bottom: 0px;
	margin-left:80px;
        }
li.listbullet3 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
       }
ol.listnumber 
{list-style-type: Decimal;
        list-style-position: outside;
        margin-top: 3px;
        margin-bottom: 0px;
        }
li.listnumber 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: -12px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
       }
ol.listnumber2 
{list-style-type: Decimal;
        list-style-position: outside;
        margin-top: 3px;
        margin-bottom: 0px;
	margin-left:73px;
        }
li.listnumber2 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: -12px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
       }
.listcontinue 
{       margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
       }
.listcontinue2 
{       margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
       }

ul.tablelistbullet 
{list-style-type: Square;
        list-style-image: none;
        list-style-position: outside;
        margin-top: 3px;
        margin-bottom: 0px;
        }
li.tablelistbullet 
{       margin-top: 3px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
        text-indent: 0px;
        }

.note
{       background-color: #EAEAEA;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0px;
        margin-right: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        border-color: #DDDDDD;
        border-top-style: solid;
        border-top-width: 0.3mm;
        border-top-color: #DDDDDD;
        border-bottom-style: solid;
        border-bottom-width: 0.3mm;
        border-bottom-color: #DDDDDD;
        border-left-style: solid;
        border-left-width: 0.3mm;
        border-left-color: #DDDDDD;
        border-right-style: solid;
        border-right-width: 0.3mm;
        border-right-color: #DDDDDD;
        text-align: left;
       }

.definition
{       background-color: #EAEAEA;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        padding-right: 4px;
        border-color: #DDDDDD;
        border-top-style: solid;
        border-top-width: 0.3mm;
        border-top-color: #DDDDDD;
        border-bottom-style: solid;
        border-bottom-width: 0.3mm;
        border-bottom-color: #DDDDDD;
        border-left-style: solid;
        border-left-width: 0.3mm;
        border-left-color: #DDDDDD;
        border-right-style: solid;
        border-right-width: 0.3mm;
        border-right-color: #DDDDDD;
        text-align: left;
       }
.code
{	font-family: "Courier New",Courier,"sans Serif";
	font-size:11px
}

.marginnote 
{       color: #3F3F3F;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 6px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-right: 6px;
        border-color: #DDDDDD;
        border-top-style: solid;
        border-top-width: 0.3mm;
        border-top-color: #DDDDDD;
        border-bottom-style: solid;
        border-bottom-width: 0.3mm;
        border-bottom-color: #DDDDDD;
        border-left-style: solid;
        border-left-width: 0.3mm;
        border-left-color: #DDDDDD;
        border-right-style: solid;
        border-right-width: 0.3mm;
        border-right-color: #DDDDDD;
        text-align: left;
	font-size:10px;
       }

.marginnote 
{       color: #3F3F3F;
        margin-top: 0px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 6px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-right: 6px;
        border-color: #DDDDDD;
	border-bottom: none;
	border-left:none;
	border-right:none;
        border-top-style: solid;
        border-top-width: 0.3mm;
        border-top-color: #DDDDDD;
        text-align: left;
	font-size:10px;
	position:relative;
	top:30px;
       }
.marginright
{
        margin-top: 0px;
        margin-bottom: 6px;
        margin-left: 50px;
        margin-right: 6px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 6px;
        padding-right: 6px;
	position:relative;
	top: -10px;
	font-size:12px;
	}

.figcaption 
{       font-style: italic;
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: left;
       }

.heading1,.heading2,.heading3,.heading4,.heading5,.specialheading1
{font-family: arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
	font-size: 14pt;
        color: #000000;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 14pt;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 2px;
        padding-right: 0px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0px;
        width: auto;
        height: 30px;
        white-space: normal;
	background-image: url(greyline.png);
	background-repeat: repeat-y;
	margin-bottom: 1px;
	margin-top: 1px;
} 
.heading2 
{	font-size: 11pt;
        line-height: 30px;
        margin-top: 5pt;
        margin-bottom: 5pt;
        margin-left: 0px;
        margin-right: 0px;
}

.heading3 
{       font-size: 10pt;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
}
.heading4 
{       font-size: 11pt;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 8px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
	border-top:solid black 1px;
	background-image:none;
	color: #000099;
}
.heading5 
{       font-weight: bold;
	font-size: 12px;
        color: #000000;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
	border-top:solid black 1px;
	background-image:none;
}
.specialheading1 
{       font-weight: bold;
	font-size: 12px;
        color: #000000;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        background-image: url(gradient.aspx?direction=V&length=800&startcolor=F2F7FA&endcolor=7BB3ED&format=jpeg);
        background-repeat: repeat-y;
        padding-left:5px;
}
.specialheading2 
{font-family: Verdana,arial,helvetica,geneva,"sans Serif";
        font-weight: bold;
	font-size: 16px;
        color: #6FA4D9;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
	text-decoration:underline;
}

.hinweis,.caution,.remark,.warning,.danger 
{font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 12px;
        color: #000000;
        background-color: #cceb9e;
	background-repeat: no-repeat;
	background-position: 5px 2px;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1.3;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 110px;
        padding-right: 10px;
        float: none;
        clear: none;
        text-align: justify;
        text-indent: -60px;
        width: auto;
        height: auto;
        white-space: normal;
       }

.caution 
{       background-color: #ffffcc;
	background-image: url(caution_small2.gif);
       }
.remark,.hinweis 
{       background-color: #ccddff;
	background-image: url(remark_small2.gif);
	}   
.warning 
{       background-color: #ffddcc;
	background-image: url(warning_small2.gif);
	}
.danger 
{       background-color: #ffccdd;
	background-image: url(danger_small2.gif);
	}

.relatedheading
{       font-weight: bold;
	font-size: 12px;
        color: #FFFFFF;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        text-align: left;
	background-image: url(border.png);
	background-repeat: repeat-y;
}
.relateditem
{       color: #0098cb;
        line-height: 20px;
        text-align: left;
}
.relateddocuments
{font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
        color: #0098cb;
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
	border-top:solid black 1px;}
}
.indexatoz 
{font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 12px;
        color: #808080;
        background-color: #FFFFFF;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1.3;
        margin-top: 12px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0px;
        padding-right: 6px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0px;
        width: auto;
        height: auto;
        white-space: normal;
       }

.titleheading,.tocheading,.indexheading 
{font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 16px;
        color: #0098cb;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1.3;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0px;
        width: auto;
        height: auto;
        white-space: normal;
       }

.tocHeading 
{       margin-top: 6px;
        margin-bottom: 3px;
       }
.indexheading 
{       font-size: 12px;
	padding-top: 15px;
       }

.index1,.index2,.index3,.indexlink 
{font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 10px;
        color: #000099;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1.3;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 3px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0px;
        width: auto;
        height: auto;
        white-space: normal;
       }
.index2 
{       padding-left: 5px;
       }
.index3 
{       padding-left: 10px;
       }
.indexlink 
{       padding-bottom: 0px;
       }
.toc 
{font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 12px;
        color: #000000;
        background-color: inherit;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 1.3;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 6px;
        width: auto;
        height: auto;
        white-space: normal;
       }



.symbols 
{display: inline;
        font-family: "Symbol", verdana, arial, helvetica, sans-serif;
        color: inherit;
        background-color: inherit;
       }

.wingdingsymbols 
{display: inline;
        font-family: "Wingdings", verdana, arial, helvetica, sans-serif;
        color: inherit;
        background-color: inherit;
       }



.searchword1
{
    background-color: Yellow; 
}
.searchword2
{
    background-color: Aqua; 
}
.searchword3
{
    background-color: Fuchsia; 
}
.searchword4
{
    background-color: Lime; 
}
.searchword5
{
    background-color: Red; 
}

/* metanavigation */
.Subcompany
{	font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
	color: #000099;
	font-weight: bold;
        background-color: inherit;
        text-decoration: none;
}

/* IT InfoPortal */

body {
	font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
	font-size: 12px;
	color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	background-color: #FFFFFF;
}

td.tool{
	font-size: 12px;
}


input.searchHP {
	font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
	font-size: 12px;
	width: 225px;
	height: 20px;
}
p {
	line-height: 20px;
}

td.menu {
	vertical-align: middle;
	background-image: url(blueheader.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	line-height: 18px;
	background-attachment: fixed;
}

table.footer {
	border-top:solid black 1px;
}
.parfooter {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.dots {
	background-image: url(border.png);
	background-repeat: repeat-y;
	margin-bottom: 1px;
	margin-top: 1px;
}

/* DocuManager Version */
/*
.dots {
    	background-image: url(gradient.aspx?direction=V&length=1600&startcolor=7BB3ED&endcolor=FFFFFF&format=jpeg);
    	background-repeat: repeat-y;
	border-top:solid #6a85a0 1px;
	border-bottom:solid #6a85a0 1px;
	padding-left:5px; 
}
*/

.parpath {

	font-size: 11px;
	font-weight: normal;
	color: #000000;
}
.dotssection {
	background-image: url(images/dots_single.gif);
	background-repeat: repeat-x;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 12px;
	color: #000099;
	vertical-align: middle;
}
.dotsmenu {
	background-image: url(images/dots_single.gif);
	background-repeat: repeat-x;
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 12px;
	color: #000099;
	vertical-align: middle;
}


.horizontalline
{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0pt;
        margin-right: 5px;
        border-top-color: #0098cb;
        border-top-style: solid;
        border-top-width: 1px;
	width:90%;
}
p.marking1 {
	font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
	font-weight: bold;
	font-style: normal;
	font-size:12px;
	padding-top:4px;
	padding-bottom:4px;
	background-color: #99ccff;
}
p.marking2 {
	font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
	font-weight: bold;
	font-style: normal;
	font-size:14px;
	padding-top:15px;
	padding-bottom:15px;
	color: #0098cb;
	text-align: center;
}
.chapterheading {
	font-family: Tahoma,arial,helvetica,geneva,"sans Serif";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
	font-size: 14pt;
        color: #0098cb;
        word-spacing: normal;
        letter-spacing: normal;
        vertical-align: baseline;
        text-decoration: none;
        text-transform: none;
        line-height: 30px;
        margin-top: 15px;
        margin-bottom: 14pt;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        float: none;
        clear: none;
        text-align: left;
        text-indent: 0px;
        width: auto;
        height: 30px;
        white-space: normal;
	border-top:solid black 1px;}
}

.inputOk
{
    border:	1px solid rgb(120,172,255) !important;
    padding-left: 2px;
    font-size: 10px;
    color: #595959;
    font-familiy: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    background-color: mintcream
}
.inputRdonly
{
    border: gainsboro 1px solid;
    padding-left: 2px;
    font-size: 10px;
    color: #595959;
    font-familiy: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    background-color: white
}
.inputOkNoBorder
{
padding-left: 2px;
    font-size: 10px;
    color: #595959;
    font-familiy: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    background-color: mintcream
}
.inputChanged
{
    border: 1px solid;
    padding-left: 2px;
    font-size: 10px;
    color: #595959;
    font-familiy: 'Trebuchet MS',Arial,Helvetica,sans-serif;
    background-color: #ffe4e1
}
.back1IE {filter:progid:DXImageTransform.Microsoft.Gradient(gradientType='1',startColorStr='#AECBED', endColorStr='#F2F7FA');} /* blau */
.back2IE {filter:progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#F8E6E7', endColorStr='#F6BCC6');} /* rot */
.back3IE {filter:progid:DXImageTransform.Microsoft.Gradient(gradientType='1',startColorStr='#AECBED', endColorStr='#FFFFFF');} /* blau */
.back3 {background-image: url(gradient.aspx?direction=V&length=600&startcolor=AECBED&endcolor=FFFFFF&format=jpeg);background-repeat: repeat-y;}
.back2 {background-image: url(gradient.aspx?direction=H&length=100&startcolor=F8E6E7&endcolor=F6BCC6&format=jpeg);background-repeat: repeat-x;}
.back1 {background-image: url(gradient.aspx?direction=V&length=800&startcolor=AECBED&endcolor=F2F7FA&format=jpeg);background-repeat: repeat-y;}
.back1s {background-image: url(gradient.aspx?direction=V&length=200&startcolor=AECBED&endcolor=F2F7FA&format=jpeg);background-repeat: repeat-y;}
.back4 {background-image: url(gradient.aspx?direction=V&length=800&startcolor=F2F7FA&endcolor=7BB3ED&format=jpeg);background-repeat: repeat-y;}
.back5 {background-image: url(gradient.aspx?direction=V&length=800&startcolor=EBC651&endcolor=FFFFFF&format=jpeg);background-repeat: repeat-y;} /* yellow */
